-- создание базы данных
-- create database tube_deformation;

-- таблица трубок
create table tube (
    id bigserial primary key,
    ver_id integer not null,
    len real not null,
    future_tube_id bigint references tube(id) on delete set null,
    past_tube_id bigint references tube(id) on delete set null
);

create index idx_tube_ver_id on tube(ver_id);
create index idx_tube_future on tube(future_tube_id);
create index idx_tube_past on tube(past_tube_id);

-- таблица сечений
create table section (
    id bigserial primary key,
    tube_id bigint not null references tube(id) on delete cascade,
    ver_id integer not null,
    index integer not null,
    x_cen real not null,
    y_cen real not null,
    z_cen real not null,
    future_section_id bigint references section(id) on delete set null,
    past_section_id bigint references section(id) on delete set null,
    constraint unique_section_in_tube unique (tube_id, index)
);

create index idx_section_tube on section(tube_id);
create index idx_section_ver_id on section(ver_id);
create index idx_section_tube_index on section(tube_id, index);
create index idx_section_future on section(future_section_id);
create index idx_section_past on section(past_section_id);

-- таблица сегментов
create table segment (
    id bigserial primary key,
    tube_id bigint not null references tube(id) on delete cascade,
    ver_id integer not null,
    index integer not null,
    future_segment_id bigint references segment(id) on delete set null,
    past_segment_id bigint references segment(id) on delete set null,
    constraint unique_segment_in_tube unique (tube_id, index)
);

create index idx_segment_tube on segment(tube_id);
create index idx_segment_ver_id on segment(ver_id);
create index idx_segment_tube_index on segment(tube_id, index);
create index idx_segment_future on segment(future_segment_id);
create index idx_segment_past on segment(past_segment_id);

-- таблица точек
create table point (
    id bigserial primary key,
    section_id bigint references section(id) on delete cascade,
    ver_id integer not null,
    index_in_section integer,
    x real not null,
    y real not null,
    z real not null,
    future_point_id bigint references point(id) on delete set null,
    past_point_id bigint references point(id) on delete set null,
    constraint unique_point_in_section unique (section_id, index_in_section)
);

create index idx_point_section on point(section_id);
create index idx_point_ver_id on point(ver_id);
create index idx_point_section_index on point(section_id, index_in_section);
create index idx_point_future on point(future_point_id);
create index idx_point_past on point(past_point_id);

-- таблица рёбер
create table edge (
    id bigserial primary key,
    segment_id bigint not null references segment(id) on delete cascade,
    ver_id integer not null,
    index integer not null,
    start_point_id bigint not null references point(id) on delete cascade,
    end_point_id bigint not null references point(id) on delete cascade,
    beg_sz real not null,
    future_edge_id bigint references edge(id) on delete set null,
    past_edge_id bigint references edge(id) on delete set null,
    constraint unique_edge_in_segment unique (segment_id, index),
    constraint different_points check (start_point_id != end_point_id)
);

create index idx_edge_segment on edge(segment_id);
create index idx_edge_ver_id on edge(ver_id);
create index idx_edge_segment_index on edge(segment_id, index);
create index idx_edge_start_point on edge(start_point_id);
create index idx_edge_end_point on edge(end_point_id);
create index idx_edge_future on edge(future_edge_id);
create index idx_edge_past on edge(past_edge_id);

-- Триггер для segment
create or replace function calculate_tube_length_on_segment()
returns trigger as $$
declare
    tube_id_val bigint;
    new_length real;
    current_length real;
begin
    if tg_op = 'DELETE' then
        tube_id_val := old.tube_id;
    else
        tube_id_val := new.tube_id;
    end if;

    -- Вычисляем новую длину
    select coalesce(sum(max_edge_length), 0) into new_length
    from (
        select s.id, max(e.beg_sz) as max_edge_length
        from segment s
        left join edge e on e.segment_id = s.id
        where s.tube_id = tube_id_val
        group by s.id
    ) as segment_lengths;

    -- Получаем текущую длину
    select len into current_length
    from tube
    where id = tube_id_val;

    -- Обновляем только если длина изменилась
    if current_length is distinct from new_length then
        update tube
        set len = new_length
        where id = tube_id_val;
    end if;

    if tg_op = 'DELETE' then
        return old;
    else
        return new;
    end if;
end;
$$ language plpgsql;

-- Триггер для edge
create or replace function calculate_tube_length_on_edge()
returns trigger as $$
declare
    tube_id_val bigint;
    new_length real;
    current_length real;
begin
    if tg_op = 'DELETE' then
        select tube_id into tube_id_val
        from segment
        where id = old.segment_id;
    else
        select tube_id into tube_id_val
        from segment
        where id = new.segment_id;
    end if;

    -- Вычисляем новую длину
    select coalesce(sum(max_edge_length), 0) into new_length
    from (
        select s.id, max(e.beg_sz) as max_edge_length
        from segment s
        left join edge e on e.segment_id = s.id
        where s.tube_id = tube_id_val
        group by s.id
    ) as segment_lengths;

    -- Получаем текущую длину
    select len into current_length
    from tube
    where id = tube_id_val;

    -- Обновляем только если длина изменилась
    if current_length is distinct from new_length then
        update tube
        set len = new_length
        where id = tube_id_val;
    end if;

    if tg_op = 'DELETE' then
        return old;
    else
        return new;
    end if;
end;
$$ language plpgsql;

-- Пересоздаём триггеры
drop trigger if exists update_tube_length_on_segment on segment;
create trigger update_tube_length_on_segment
after insert or update or delete on segment
for each row
execute function calculate_tube_length_on_segment();

drop trigger if exists update_tube_length_on_edge on edge;
create trigger update_tube_length_on_edge
after insert or update of beg_sz or delete on edge
for each row
execute function calculate_tube_length_on_edge();
